<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title>MyHourBoost.com - Steam idle service</title>
   <!-- MDB icon -->
   <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon">
   <!-- Font Awesome -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
   <!-- Google Fonts Roboto -->
   <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&amp;display=swap">
   <!-- MDB -->
   <link
   href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css"
   rel="stylesheet"
 />
   <style>
      INPUT:-webkit-autofill,
      SELECT:-webkit-autofill,
      TEXTAREA:-webkit-autofill {
         animation-name: onautofillstart
      }

      INPUT:not(:-webkit-autofill),
      SELECT:not(:-webkit-autofill),
      TEXTAREA:not(:-webkit-autofill) {
         animation-name: onautofillcancel
      }

      @keyframes onautofillstart {}

      @keyframes onautofillcancel {}
   </style>
</head>

<body cz-shortcut-listen="true" class="bg-dark text-light">
   <!-- Start your project here-->

    <div class="text-center" style="margin-top: 25%;">
        <p>Whoops.. This page doesn't exist. Maybe you came here by mistake?</p>
    </div>
    <div class="text-center mt-lg-5 ">
        <a class="btn btn-primary" href="/">Go back to home</a>
    </div>
    <div class="text-center mt-2">
        <a class="btn btn-outline-primary" href="/support">Contact support</a>
    </div>
   <!-- End your project here-->

   <!-- MDB -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"
></script>
   <!-- Custom scripts -->
   <script type="text/javascript"></script>


</body>

</html>