<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>MyHourBoost.com - Steam idle service</title>
  <!-- MDB icon -->
  <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon">
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/9ee956e522.js" crossorigin="anonymous"></script>
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&amp;display=swap">
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet" />
  <style>
    INPUT:-webkit-autofill,
    SELECT:-webkit-autofill,
    TEXTAREA:-webkit-autofill {
      animation-name: onautofillstart
    }

    INPUT:not(:-webkit-autofill),
    SELECT:not(:-webkit-autofill),
    TEXTAREA:not(:-webkit-autofill) {
      animation-name: onautofillcancel
    }

    @keyframes onautofillstart {}

    @keyframes onautofillcancel {}
  </style>
</head>

<body cz-shortcut-listen="true" class="bg-dark text-light">
  <!-- Start your project here-->

  <div id="preview" class="preview">
    <div style="display: none;"></div>
    <div>
      <div style="position: relative;" data-draggable="true" class="">
        <!---->
        <!---->
        <section draggable="false" class="container pt-0" data-v-271253ee="">
          <section class="" style="padding-bottom: 1px;">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-dark text-light shadow-2 ">
              <!-- Container wrapper -->
              <div class="container-fluid ">
                <div class="d-flex">
                  <!-- Toggle button --> <button class="navbar-toggler text-light" type="button"
                    data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <i
                      class="fas fa-bars"></i> </button>

                  <!-- Navbar brand -->
                  <a class="navbar-brand ms-3" href="/">

                    <i class="fas fa-hourglass-end text-primary" aria-controls="#picker-editor">

                    </i>
                    <span class="badge rounded-pill bg-primary ms-1">Beta</span>
                  </a>

                </div> <!-- Collapsible wrapper -->

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <!-- Left links -->
                  <ul class="navbar-nav me-auto mb-2 ms-2 ps-1 ms-lg-0 ps-lg-0 mb-lg-0 ">
                    <li class="nav-item"> <a class="nav-link text-light" href="/"
                        aria-controls="#picker-editor">Home</a> </li>
                    <li class="nav-item"> <a class="nav-link text-light" href="/features"
                        aria-controls="#picker-editor">Features</a> </li>
                    <li class="nav-item"> <a class="nav-link text-primary" href="/pricing"
                        aria-controls="#picker-editor">Pricing</a> </li>
                    <li class="nav-item"> <a class="nav-link text-light" href="/support"
                        aria-controls="#picker-editor">Support</a> </li>
                  </ul> <!-- Left links -->
                </div> <!-- Collapsible wrapper -->
                <!-- Right elements -->
                <div class="d-flex align-items-center">
                  <%if (!user){%>
                    <a href="/login" class="btn  btn-link px-3 mb-1 me-2">Login</a>
                    <a href="/join" class="btn  btn-primary mb-1 me-lg-3">Register</a>
                    <%}else{%>
                      <a href="/app" class="btn btn-outline-primary mb-1 me-lg-3">Panel</a>
                      <%}%>
                </div> <!-- Right elements -->
              </div> <!-- Container wrapper -->
            </nav> <!-- Navbar -->
          </section>
        </section>
        <!---->
      </div>
      <div style="position: relative;" data-draggable="true" class="" draggable="false">
        <!---->
        <!---->
        <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
          <section class="mt-5">
            <!-- Background image -->
            <div class="p-5 text-center bg-image"
              style="background-image: url(&quot;&quot;); height: 250px; background-size: cover; background-position: 50% 50%; background-color: rgba(0, 0, 0, 0);"
              aria-controls="#picker-editor">
              <div class="mask">
                <div class="container h-100">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-10">
                      <div class="text-white pb-md-5">
                        <h1 class="my-md-5  px-md-5 display-3 fw-bold ls-tight"> <span>Pricing</span> </h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- Background image -->
          </section>
        </section>
        <!---->
      </div>
      <div style="position: relative;" data-draggable="true" class="">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
          <section class="mb-10 ">
            <h2 class="fw-bold text-center mb-4">Check our packages & prices!</h2>
            <p class="text-center mb-5 text-muted">Packages are one time payments.</p>
            <div class="row gx-xxl-3 mb-5">
              <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 ">
                <div class="card h-100 bg-dark">
                  <div class="card-header text-center pt-4">
                    <p class="text-uppercase"> <strong>Free</strong> </p>
                    <h3 class="mb-4"> <strong>0$</strong> </h3> <button type="button" class="btn btn-link w-100 mb-3"
                      style="background-color: rgb(240, 240, 240);"
                      data-ripple-color="primary" data-darkreader-inline-bgcolor="">Try now!</button>
                  </div>
                  <div class="card-body">
                    <ol class="list-unstyled mb-0">
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>100 hours renewable</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>3 Games limit</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>2FA, Steam Guard & secret support</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Appear Online/ Offline</span>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <div class="card h-100 bg-dark">
                  <div class="card-header text-center pt-4">
                    <p class="text-uppercase"> <strong>Small</strong> </p>
                    <h3 class="mb-4"> <strong>$0.99</strong></h3> <button type="button"
                      class="btn btn-link w-100 mb-3"
                      style="background-color: rgb(242, 242, 242);" data-ripple-color="primary" >Not available</button>
                  </div>
                  <div class="card-body">
                    <ol class="list-unstyled mb-0">
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>700 hours renewable</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>8 Games limit</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>2FA, Steam Guard & secret support</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Appear Online/ Offline</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Auto Restart</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Auto-Accept friend request/ trading offers</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Chat, requests & trading history</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Custom in-game title</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Custom idle chat responder</span>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card h-100  bg-dark">
                  <div class="card-header text-center pt-4">
                    <p class="text-uppercase"> <strong>Big</strong> </p>
                    <h3 class="mb-4"> <strong>$1.99</strong> </h3> <button type="button"
                      class="btn btn-link w-100 mb-3" style="background-color: rgb(242, 242, 242);">Not available</button>
                  </div>
                  <div class="card-body">
                    <ol class="list-unstyled mb-0">
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>1400 hours renewable</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>16 Games limit</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>2FA, Steam Guard & secret support</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Appear Online/ Offline</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Auto Restart</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Auto-Accept friend request/ trading offers</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Chat, requests & trading history</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Custom in-game title</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Custom idle chat responder</span>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>


            <div class="row gx-xxl-3">
              <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 ">
                <div class="card h-100 border border-primary bg-dark">
                  <div class="card-header text-center pt-4">
                    <p class="text-uppercase"> <strong>Plus</strong> </p>
                    <h3 class="mb-4"> <strong>$4.99</strong> </h3> <button type="button" class="btn btn-link btn-primary w-100 mb-3"
                      data-ripple-color="primary" data-darkreader-inline-bgcolor="">Not available</button>
                  </div>
                  <div class="card-body">
                    <ol class="list-unstyled mb-0">
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>2400 hours renewable</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>24 Games limit</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>2FA, Steam Guard & secret support</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Appear Online/ Offline</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Auto Restart</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Auto-Accept friend request/ trading offers</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Chat, requests & trading history</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Custom in-game title</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Custom idle chat responder</span>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <div class="card h-100 bg-dark">
                  <div class="card-header text-center pt-4">
                    <p class="text-uppercase"> <strong>Pro</strong> </p>
                    <h3 class="mb-4"> <strong>$9.99</strong></h3> <button type="button"
                      class="btn btn-link w-100 mb-3"
                      style="background-color: rgb(242, 242, 242);" data-ripple-color="primary" >Not available</button>
                  </div>
                  <div class="card-body">
                    <ol class="list-unstyled mb-0">
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>6500 hours renewable</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>32 Games limit</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>2FA, Steam Guard & secret support</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Appear Online/ Offline</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Auto Restart</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Auto-Accept friend request/ trading offers</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Chat, requests & trading history</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Custom in-game title</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Custom idle chat responder</span>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card h-100 border bg-dark">
                  <div class="card-header text-center pt-4">
                    <p class="text-uppercase"> <strong>Ultra</strong> </p>
                    <h3 class="mb-4"> <strong>Custom </h3> <button type="button"
                      class="btn w-100 mb-3" style="background-color: rgb(242, 242, 242);">Not available</button>
                  </div>
                  <div class="card-body">
                    <ol class="list-unstyled mb-0">
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>6500 hours renewable</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>32 Games limit</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>2FA, Steam Guard & secret support</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Appear Online/ Offline</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Auto Restart</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Auto-Accept friend request/ trading offers</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Chat, requests & trading history</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Custom in-game title</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Custom idle chat responder</span>
                      </li>
                      <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Multiple accounts</span>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>

          </section>
        </section>
        <!---->
      </div>
    </div>
  </div>
  <footer class="bg-dark text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3">
      <p class="col-md-4 mb-0 text-muted">© 2022 MyHourBoost, made by <a href="https://lupucl.com">lupucl</a> </p>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- End your project here-->

  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>
  <!-- Custom scripts -->
  <script type="text/javascript"></script>


</body>

</html>