.u-section-1{
  background-image:none
}
.u-section-1 .u-sheet-1{
  min-height:600x
}
.u-section-1 .u-table-1{
  margin-top:25px;
  margin-bottom:0
}
.u-section-1 .u-table-entity-1{
  min-height:100px
}
.u-section-1 .u-table-header-1{
  font-weight:700
}
.u-section-1 .u-table-cell-7{
  margin-top:55px;
  margin-bottom:60px
}
.u-section-1 .u-table-cell-9{
  font-weight:700
}
.u-section-1 .u-table-2{
  margin-top:70px;
  margin-bottom:0
}
.u-section-1 .u-table-entity-2{
  min-height:100px
}
.u-section-1 .u-table-header-2{
  font-weight:700
}
.u-section-1 .u-table-cell-19{
  margin-top:55px;
  margin-bottom:60px
}
.u-section-1 .u-table-cell-21{
  font-weight:700
}
.u-section-1 .u-text-1{
  font-size:.75rem;
  margin:0 auto 60px 0
}
